.sidebar .link-card h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.sidebar .link-card a {
    display: block;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #f9f9f9;
    /* 更新为浅灰色背景 */
    color: #333;
    /* 深灰色文字，与背景形成对比 */
    font-size: 1em;
    text-align: center;
    /* 文字居中 */
    border: 1px solid #ddd;
    /* 添加浅灰色边框 */
    border-radius: 10px;
    /* 更圆润的圆角 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    /* 添加轻微阴影效果 */
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* 鼠标悬停时的动画效果 */
}

.sidebar .link-card a:hover {
    background-color: #f0f0f0;
    /* 鼠标悬停时变为更浅的灰色 */
    transform: scale(1.05);
    /* 鼠标悬停时稍微放大 */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    /* 鼠标悬停时的阴影加深 */
}