/* 禁用水平滚动 */
html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    /* 禁用横向滚动条 */
    margin: 0;
}

/* 保证body不超出视口 */
body {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    color: #333;
    min-height: 100vh;
    width: 100%;
}

a {
    color: rgb(11, 103, 241);
    /* 设置超链接的颜色为蓝色 */
    text-decoration: none;
    /* 移除超链接的下划线 */
}

a:hover {
    color: red;
    /* 设置鼠标悬停时超链接的颜色为红色 */
    text-decoration: underline;
    /* 添加鼠标悬停时超链接的下划线效果 */
}

/* 导航栏样式 */

.navbar {
    background-color: #4c89af;
    height: 80px;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* 保证导航栏占满屏幕宽度 */
    box-sizing: border-box;
    /* 确保padding不增加宽度 */
}


.navbar a {
    color: white;
    margin: 0 10px;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar .logo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    padding: 10px 20px;
    text-shadow: 0 0 2px hsl(40, 28.57%, 28.82%), 0 0 2px hsl(40, 28.57%, 28.82%), 0 0 2px hsl(40, 28.57%, 28.82%);
    /*多个叠加*/
    color: #fff;
}

.main-content {
    display: flex;
    flex: 1;
    width: 100%;
    margin: 0;
    /* 清除默认的外边距 */
    box-sizing: border-box;
    /* 确保padding不影响总宽度 */
    line-height: 1.7;
}

.sidebar {
    background-color: #eee;
    width: 15%;
    margin: 20px 0 20px 20px;
}

.content {
    width: 80%;
    flex: 1;
    padding: 20px;
    margin: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 表单样式 */
.form-container {
    margin-top: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
}

.form-container input,
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.form-container button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #2980b9;
}

/* 页脚样式 */
.footer {
    background-color: #454545;
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

blockquote {
    font-family: fangsong, Times, "Times New Roman", Georgia, serif;
    /* text-shadow: none; */
    white-space: pre;
    font-size: 18px;
    /* 设置字体大小 */
}