/* 文章页背景 */
.layout_post>#post {
    background: rgba(255, 255, 255, 0.9);
}

/* 所有页面背景 */
#aside_content .card-widget,
#recent-posts>.recent-post-item,
.layout_page>div:first-child:not(.recent-posts),
.layout_post>#page,
.layout_post>#post,
.read-mode .layout_post>#post {
    background: rgba(255, 255, 255, 0.9);
}

/*侧边卡片的透明度 */
:root {
    --card-bg: rgba(255, 255, 255, 0.9);
}

/* 页脚透明 */
/* #footer {
    background: rgba(255, 255, 255, 0.0);
} */